@import url('https://fonts.googleapis.com/css?family=Merienda:100,200,300,400,500,600,700|Schoolbell:100,200,300,400,500,600,700|Amatic SC:100,200,300,400,500,600,700');


/*----------------------------- extent*/

.logo {
    background: url("media/images/cover2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 5px;
    font-family: "Schoolbell", sans-serif;
    font-weight: 200;
}

p {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.uppercase {
    text-transform: uppercase;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}


/*-----------------------------header*/ 

header {
    background-color: #b22222;
    color: #fafafa;
    margin: 0;
    min-height: 50px;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

.history-item {
    padding: 10px;
}

#nav {
    margin: 0;
    height: 50px;
}

.menucontainer {
    font-size: 0;
}

.menuitem {
    text-align: center;
    margin: 0;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Merienda", sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 50px;
}

@media(max-width:500px) {
    .logo {
        min-height: 120px;
    }
}

@media(max-width:500px) {
    header {
        min-height: 120px;
    }
}

/*----------------------------- section*/

section {
    background-color: #fffacd;
}

.contact {
    min-height: 520px;
}

.contact-style {
    padding-top: 50px;
}

.center-form {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width:992px) {
    .center-form {
        margin: 0 auto;
        max-width: 60%;
    }
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    display: block;
    position: absolute;
    border-radius: 12px;
    content: "";

}

.mv-section {
    padding: 10px;
}

/*----------------------------- footer*/

footer {
    background-color: #b22222;
    color: #fafafa;
    margin: 0;
    min-height: 100px;
    font-family: "Merienda", sans-serif;
}

.footer-style {
    text-align: center;
    padding-top: 10px;
}

.social-links li {
    padding: 5px;
}

.social-links li a i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 28px;
    color: #fafafa;
    background: #b22222;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    background: rgba(0, 0, 0, 0.5);
}
